.background{
  height: 1720px;
}
.heading{
  background-color: purple;
  height: 11%;
  margin: 0px;
}
.red{
  margin: 0 auto;
  padding-top: 7%;
  background-color: red;
  width: 70%;
  height: 83%;
}
.blue{
  border: 32px;
  border-style: solid;
  border-color: red;
  padding: 5%;
  margin: 0 auto;
  background-color: blue;
  width: 62%;
  height: 20%;
}
.yellow{
  background-color: yellow;
  float: left;
  height: 200px;
  width: 190px;
}
.green{
  background-color: green;
  float: right;
  height: 88%;
  width: 62%;
}
